*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    width: 50%;
    height: 50%;
    background-color: rgb(148, 199, 199);

}
.box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.box div{
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
}
